.color-1 {
    color:#29a1ff;
}
.color-2 {
    color:#36a7ff;
}
.color-3 {
    color:#42acff;
}
.color-4 {
    color:#4fb2ff;
}
.color-5 {
    color:#5bb7ff;
}
.color-6 {
    color:#68bdff;
}
.color-7 {
    color:#74c2ff;
}
.color-8 {
    color:#81c8ff;
}
.color-9 {
    color:#8ecdff;
}
.color-10 {
    color:#9ad3ff;
}
.color-11 {
    color:#a7d8ff;
}
.color-12 {
    color:#b3deff;
}
.color-13 {
    color:#c0e3ff;
}
.color-14 {
    color:#cce9ff;
}
.color-15 {
    color:#d9eeff;
}
