.color-1 {
    color:#eee4d1;
}
.color-2 {
    color:#fff9e0;
}
.color-3 {
    color:#ffffe0;
}
.color-4 {
    color:#f1ffe0;
}
.color-5 {
    color:#e1ffe0;
}
.color-6 {
    color:#e0fff0;
}
.color-7 {
    color:#e0fcff;
}
.color-8 {
    color:#e0e9ff;
}
.color-9 {
    color:#e2e0ff;
}
.color-10 {
    color:#ece0ff;
}
.color-11 {
    color:#fae0ff;
}
.color-12 {
    color:#ffe0f3;
}
.color-13 {
    color:#ffe0e1;
}
.color-14 {
    color:#ffe7e0;
}
.color-15 {
    color:#ffeee0;
}
