.color-1 {
    color:#28FF01;
}
.color-2 {
    color:#5e5857;
}
.color-3 {
    color:#7a7570;
}
.color-4 {
    color:#282725;
}
.color-5 {
    color:#89887e;
}
.color-6 {
    color:#4d4e48;
}
.color-7 {
    color:#a0aa9c;
}
.color-8 {
    color:#707a73;
}
.color-9 {
    color:#b8c8c6;
}
.color-10 {
    color:#53565a;
}
.color-11 {
    color:#e7e7fb;
}
.color-12 {
    color:#aba6b4;
}
.color-13 {
    color:#c5b8c8;
}
.color-14 {
    color:#a79aa2;
}
