.color-1 {
    color:#29a1ff;
}
.color-2 {
    color:#293cff;
}
.color-3 {
    color:#5d29ff;
}
.color-4 {
    color:#a529ff;
}
.color-5 {
    color:#ff29e1;
}
.color-6 {
    color:#ff2968;
}
.color-7 {
    color:#ff4129;
}
.color-8 {
    color:#ff7329;
}
.color-9 {
    color:#ffa529;
}
.color-10 {
    color:#ffc929;
}
.color-11 {
    color:#ffed29;
}
.color-12 {
    color:#cbff29;
}
.color-13 {
    color:#60ff29;
}
.color-14 {
    color:#29ff5d;
}
.color-15 {
    color:#29ffdd;
}
