.color-1 {
    color:#29a1ff;
}
.color-2 {
    color:#ff4e29;
}
.color-3 {
    color:#ffc029;
}
.color-4 {
    color:#4fb2ff;
}
.color-5 {
    color:#ff6d4f;
}
.color-6 {
    color:#ffcb4f;
}
.color-7 {
    color:#74c2ff;
}
.color-8 {
    color:#ff8c74;
}
.color-9 {
    color:#ffd674;
}
.color-10 {
    color:#9ad3ff;
}
.color-11 {
    color:#ffab9a;
}
.color-12 {
    color:#ffe19a;
}
.color-13 {
    color:#c0e3ff;
}
.color-14 {
    color:#ffcbc0;
}
.color-15 {
    color:#ffecc0;
}
