.color-1 {
    color:#ffcaa8;
}
.color-2 {
    color:#ffc49f;
}
.color-3 {
    color:#ffbe95;
}
.color-4 {
    color:#ffb88b;
}
.color-5 {
    color:#ffb281;
}
.color-6 {
    color:#ffac78;
}
.color-7 {
    color:#ffa66e;
}
.color-8 {
    color:#ffa064;
}
.color-9 {
    color:#ff9b5b;
}
.color-10 {
    color:#ff9551;
}
.color-11 {
    color:#ff8f47;
}
.color-12 {
    color:#ff893d;
}
.color-13 {
    color:#ff8334;
}
.color-14 {
    color:#ff7d2a;
}
.color-15 {
    color:#ff7720;
}
.color-16 {
    color:#ff7116;
}
