.color-1 {
    color: hsl(23, 100%, 83%);
}
.color-2 {
    color: hsl(36, 100%, 83%);
}
.color-3 {
    color: hsl(45, 100%, 83%);
}
.color-4 {
    color: hsl(55, 100%, 83%);
}
.color-5 {
    color: hsl(73, 100%, 83%);
}
.color-6 {
    color: hsl(101, 100%, 83%);
}
.color-7 {
    color: hsl(129, 100%, 83%);
}
.color-8 {
    color: hsl(161, 100%, 83%);
}
.color-9 {
    color: hsl(195, 100%, 83%);
}
.color-10 {
    color: hsl(227, 100%, 83%);
}
.color-11 {
    color: hsl(246, 100%, 83%);
}
.color-12 {
    color: hsl(265, 100%, 83%);
}
.color-13 {
    color: hsl(289, 100%, 83%);
}
.color-14 {
    color: hsl(321, 100%, 83%);
}
.color-15 {
    color: hsl(353, 100%, 83%);
}
.color-16 {
    color: hsl(10, 100%, 83%);
}
